<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <div class="position-absolute w-100" style=" z-index: 999;position: absolute">
        <partial name="_CookieConsentPartial" />
    </div>
    @RenderBody()
</body>

    @RenderSection("Scripts", required: false)
</html>
