@{
    ViewData["Title"] = "Confirmation";
}

<div>
    <div class="container-fluid">
        <div class="m-3">
            <h1>Account has been deleted.</h1>
            <a class="btn btn-primary btn-sm" id="login" asp-area="Identity" asp-page="/Account/Login">Back to Login</a>
        </div>
    </div>
</div>