@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}
<body class="text-center vh-100 d-flex" style="background-color:#808080; align-items: center;">

    <div class="text-center rounded-5 shadow bg-light p-3 w-100" style="max-width:420px; margin: 0 auto;">

        @*<form method="post">
            <h1 class="h3 mb-3 fw-normal">Bug Tracker</h1>
            <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="sr-only"></label>
                <input asp-for="Email" class="form-control" placeholder="Email address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
            </div>
        </form>*@
        <h6>Currently Registering and password recover is disabled as this project is still in the development phase. Please use the demo user menu that can be found on the login page to test the bug tracker out.</h6>
        <hr class="my-4">
        <small class="text-muted">
            <p>Back to <a asp-area="Identity" asp-page="/Account/Login">Sign In</a></p>
        </small>
    </div>
</body>