@{
    ViewData["Title"] = "Confirmation";
}

<div>
    <div class="container-fluid">
        <div class="m-3">
            <h1>Confirmation</h1>
            <h4>If you have an account, we have sent an email to reset your password</h4>
            <a class="btn btn-primary btn-sm" id="login" asp-area="Identity" asp-page="/Account/Login">Back to Login</a>
        </div>
    </div>
</div>